body{
    background-color: black;
    font-family: Arial;
}
.square{
    container-type: inline-size;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 20%;
}
@container (inline-size){
    .but{
        position: absolute;
        cursor: pointer;
        color: white;
        border: none; 
        border-radius: 50%;
        width: 72%;
        height: 90%;
        font-size: 30cqw;
    }
}

.grey{
    background-color: rgb(51, 51, 51); 
}
.yellow{
    background-color: rgb(254, 160, 10);
}
.input{
    font-size: 5vmax;
    color: white;
    max-width: 100%;
    word-wrap: break-word;
}
