body{
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: Arial;
    font-size: clamp(2vw,2.5vh,3.5vh);
}
.title{
    font-size: clamp(4vmax,3vh,5vh);
}
.cont-col{
    container-type: inline-size;
}
@container (inline-size){
    .move-cont{
        height: calc(100cqw/3);
    }
    .emoji{
        height: 10cqw;
    }
}
.move{
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    font-size: clamp(1.5vw,2vh,3vh);
    cursor: pointer;
}